h1 {
    text-align: center;
    background-color: aqua;
    padding: 2%;
}
.container {
    display: flex;
    justify-content: space-around;
}

img {
    height: 200px;
    width: 60%;
     margin-top: 10px;
}
.Choose{
    display: flex;
    justify-content: center;
    margin-top: 3%;

}

.button {
    display: flex;
    justify-content: space-around;
}

 button { 
    font-size: xx-large; 
     margin-top: 2%; 
     color: wheat; 
    background-color: rgb(53, 160, 53); 
} 

.wonn {
    display: flex;
    justify-content: center;
}